[package]
edition.workspace = true
license.workspace = true
name = "shared"
publish.workspace = true
version.workspace = true

[dependencies]
anyhow = { workspace = true }
thiserror = { workspace = true }
rand = { workspace = true }
